@charset "UTF-8";

html {
  font-size: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}
body {
  color: #121212;
  font-size: 0.9rem;
  line-height: 1.7;
}
a {
  color: #121212;
  text-decoration: none;
  transition: all .3s;
}

.a-tag:hover {
    color: #000000;
    border-color: #000;
    opacity: 0.7;
}

.a-tag {
    color: #d17ec7;
    border-bottom: solid 1px #d17ec7;
}

img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
    line-height: 1px;
}
.site-title a {
    display: block; /* ブロック要素は、幅を指定しない限りは親要素の100％になります。 */
}

.sec-title {
    font-size: 2.25rem;
    margin-bottom: 30px;
    text-align: center;
}

.wrapper {
  max-width: 1240px;
  padding: 100px 16px 50px 16px;
  margin: -50px auto 10px auto;
}


#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed; /* 固定 */
    z-index: 10;
    background-color: #fff;
}

#navi {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: #fff;
    padding: 60px 25px;
    background-color: #d17ec7;
    overflow-x: hidden; /* overしたら切る */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
}

#navi a {
    color: #fff;
}

.open #navi {
    left: 0;
    opacity: 1;
}

#navi ul {
    margin: 0;
    padding: 0;
}

#navi ul.nav-menu {
    margin-bottom: 60px;
    border-top: solid 1px #fff;
}

#navi ul.nav-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
}

.toggle_btn {
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 20;
}

.toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
}

.toggle_btn span:nth-child(1) {
    top: 4px;
}
.toggle_btn span:nth-child(2) {
    top: 14px;
}
.toggle_btn span:nth-child(3) {
    bottom: 4px;
}

.open .toggle_btn span {
    background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
    opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}

#mask {
    display: none;
    transition: all .5s;
}

.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
}

#main {
    padding-top: 80px;
}

#main .image img {
    display: inline-block;
    width: 100%;
    max-width: 1920px;
    max-height: 650px;
    object-fit: cover; 
}

#main .image {
    margin-bottom: 60px;
    text-align: center;
}

#coding .grid , #works .grid{
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

#coding .grid .item , #works .grid .item{
    transition: all 0.3 ease;
    box-shadow: 0 0 8px 4px #ccc; /* kage */
}

#coding .grid img , #works .grid img {
    vertical-align: top;
}

#coding .grid .item-content , #works .grid .item-content {
    padding: 30px;
}

#coding .grid .item-cat , #works .grid .item-cat {
    font-size: 0.75rem;
    margin-bottom: 20px;
}

#coding .grid .item-text , #works .grid .item-text {
    font-weight: bold;
    margin-bottom: 20px;
}

#coding .grid .item-date , #works .grid .item-date {
    font-size: 0,75rem;
    text-align: right;
}




#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    color: #fff;
    padding: 5px 0;
}


#about {
    margin-bottom: 60px;
    font-size: 1.3rem;
    font-family: 'Noto Sans JP', sans-serif;
}


#about ul {
    margin-bottom: 30px;
}

#about ul li:first-child {
    margin-bottom: 20px;
}



#footer {
    padding: 0 4%;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}
#footer ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

#footer ul li a {
    color: #fff;
    transition: all .5s;
}

#footer ul li a:hover{
    color: #d17ec7;
    opacity: 50%;
}

/* pro-site */

.pro-title{
    margin-bottom: 50px;
}

.pro-title2 {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 1.2rem;
}

.pro-title2 a {
    color: #333;
    transition: all .3s ease;
}

.pro-title2 a:hover {
    color: #d17ec7;
    font-size: 1.4rem;
}

#pro-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

#pro-item .pro-item-text {
    width: 42%;
    font-family: 'Noto Sans JP', sans-serif;
  }
  /*
  text-align: justify;
  テキストの両端を揃える
  */
#pro-item .pro-item-text p {
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1rem;
}

#pro-item .pro-item-img {
    width: 50%;
}

#pro-item .pro-item-img img {
    /* width: 50%; */
    max-height: 600px;
}

@media screen and (max-width: 600px) {
    .sec-title {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  
    #header {
      padding: 20px 16px;
    }

    #header img {
        width: 70%;
    }

    #main .image img {
        height: 85vh;
    }

    #coding , #works {
      padding: 80px 16px;
    }
    #coding .grid .item-content , #works .grid .item-content{
      padding: 16px;
    }

    #footer {
        flex-direction: column;
    }

    #footer ul , p {
        margin-bottom: 5px;
    }

    #pro-item {
        flex-direction: column;
        margin-bottom: 60px;
    }

    #pro-item .pro-item-text {
        width: 100%;
    }
    
    #pro-item .pro-item-img {
        width: 100%;
        margin-bottom: 60px;
    }

    #pro-item .pro-item-img img{       
        width: 100%;
        max-width: 1280px;
        max-height: 2535px;
    }
}  

@media screen and (min-width: 953px) {
    .pro-footer {
        padding: 0 4%;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}